.header {
  display: grid;
  grid-template-columns: 452px 148px 452px;
  grid-template-rows: 105px;
  grid-template-areas: "header-menu header-logo header-address";
  margin: 92px 24px 96px;
  background-color: #fff;
}

.header__menu {
  grid-area: header-menu;
  margin-top: 44px;
  margin-left: 26.52px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.18px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  grid-area: header-logo;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.header__address {
  grid-area: header-address;
  justify-self: end;
  width: 241px;
  height: 98px;
  margin-top: 5px;
  margin-right: 25.48px;
  color: #000;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0.18px;
  text-underline-offset: 4px;
}

.cover {
  height: 757px;
  width: 100%;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 124.727%;
  z-index: -1;
}

.overlay {
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, .6);
}

.cover__title {
  padding-top: 165px;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.aligned-text {
  display: block;
  text-align: left;
  padding-left: 50px;
  line-height: 115%;
}

.aligned-text_center {
  display: block;
  text-align: left;
  padding-left: 336px;
  line-height: 100%;
  padding-top: 20px;
}

.aligned-text_right {
  display: block;
  text-align: right;
  padding-right: 50px;
  line-height: 100%;
  padding-top: 20px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
 padding-left: 78px;
 padding-top: 136px;
}

.cover__description-text {
  color: #fff;
  line-height: 28px;
  word-spacing: 18.5px;
  text-transform: uppercase;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.bet-button {
  appearance: none;
  font-family: Raleway;
  border: 1px solid #fff;
  margin-left: 73px;
  padding: 11px 32px 11px 31px;
  border-radius: 0;
  background: transparent;
  color: #fff;
  line-height: 28px;
  text-transform: uppercase;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}