.header {
  display: grid;
  grid-template-columns: 452px 148px 452px;
  grid-template-rows: 105px;
  grid-template-areas: "header-menu header-logo header-address";
  margin: 92px 24px 96px;
  background-color: #fff;
}

.header__menu {
  grid-area: header-menu;
  margin-top: 44px;
  margin-left: 26.52px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.18px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  grid-area: header-logo;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.header__address {
  grid-area: header-address;
  justify-self: end;
  width: 241px;
  height: 98px;
  margin-top: 5px;
  margin-right: 25.48px;
  color: #000;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0.18px;
  text-underline-offset: 4px;
}
